<div id="search">
    <h2>Search for hiking trails in your area</h2>
    <form method="POST" action="/trails/search-results">
        <input class="text-field" type="number" step="0.01" name="latitude" placeholder="Latitude"><br>
        <input class="text-field" type="number" step="0.01" name="longitude" placeholder="Longitude"><br>
        <input class="btn" type="submit">
    </form>
</div>