<div id="search-results">
    <ul>
        <br>
        <% if (trails) { %> 
            <% trails.forEach((trail) => { %>
            <li><%= trail.name %> - <%= trail.length %> miles
                <a id="show-link" href="/trails/<%= trail.id %>">Show details</a><br><br>
            </li>
        <% })} %>
    </ul>
</div>